<!-- layer-panel.component.html -->
<div class="header rounded-0" cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle>
  <h2 class="panel-title">Layer Panel</h2>
  <button mat-button mat-dialog-close (click)="$event.stopPropagation()">
    <mat-icon class="close-button">close</mat-icon>
  </button>
</div>

<mat-dialog-content class="mat-typography p-3 layer-panel-pop">
  <!-- Default Layers -->
  <mat-expansion-panel class="expansion-panel" #panel_1 hideToggle="true" expanded="true">
    <!-- Start expanded? -->
    <mat-expansion-panel-header class="exp-header">
      <mat-panel-title class="exp-title">Default Layers</mat-panel-title>
      <!-- Optional: Icons for expand/collapse -->
      @if (!panel_1.expanded) {
        <mat-icon>expand_more</mat-icon>
      }
      @if (panel_1.expanded) {
        <mat-icon>expand_less</mat-icon>
      }
    </mat-expansion-panel-header>

    <div class="expcontent">
      @for (dataItem of LayerList | sortArray: 'layer_name'; track dataItem.layer_id) {
        <!-- Verify this condition: Does group_name *contain* 'default' or *equal* 'default'? -->
        @if (dataItem.group_name?.includes('default')) {
          <div
            class="tb_row"
            [class.disabled]="
              (dataItem.layer_id === 3 || dataItem.layer_id === 12) && isBuildingsDisabled
            "
          >
            <!-- Removed empty td -->
            <div class="name_checkbox_2 d-flex items-center">
              <mat-icon
                class="visibility-icon small-icon h-auto"
                (click)="dataItem.view && toggleLayerView(dataItem.layer_id)"
                [ngStyle]="{
                  color: selectedLayerIds.includes(dataItem.layer_id) ? 'black' : '#D3D3D3',
                  opacity: dataItem.view ? '1' : '0.4',
                  'pointer-events': dataItem.view ? 'auto' : 'none',
                  cursor: dataItem.view ? 'pointer' : 'not-allowed',
                }"
                [matTooltip]="
                  (dataItem.layer_id === 3 || dataItem.layer_id === 12) && isBuildingsDisabled
                    ? 'Building layer is disabled'
                    : dataItem.view
                      ? 'Toggle Visibility'
                      : 'No View Permission'
                "
                matTooltipPosition="above"
              >
                visibility
              </mat-icon>
              <!-- *** ADD CHECKBOX BACK *** -->
              <input
                class="layer-checkbox"
                type="checkbox"
                id="checkbox-default-{{ dataItem.layer_id }}"
                [checked]="currentSelectedLayerIdForDrawing === dataItem.layer_id"
                (change)="onCheckboxChange(dataItem.layer_id)"
                matTooltip="Set as Current Drawing Layer"
                matTooltipPosition="above"
                aria-label="Set layer as current drawing layer"
                [disabled]="
                  !dataItem?.edit ||
                  !dataItem?.view ||
                  ((dataItem.layer_id === 3 || dataItem.layer_id === 12) && isBuildingsDisabled)
                "
              />
              <!-- ************************* -->
              <div class="color-name">
                <div
                  class="color-display"
                  [style.backgroundColor]="getColorHex(dataItem.colour)"
                ></div>
                <div
                  class="layer-name"
                  matTooltip="{{ dataItem.layer_name }}"
                  matTooltipPosition="above"
                  [ngStyle]="{
                    opacity:
                      dataItem.view &&
                      !(
                        (dataItem.layer_id === 3 || dataItem.layer_id === 12) &&
                        isBuildingsDisabled
                      )
                        ? '1'
                        : '1',
                  }"
                >
                  {{ dataItem.layer_name }}
                </div>
              </div>
            </div>
          </div>
        }
      } @empty {
        <!-- This block renders if LayerList is empty AFTER the pipe/initial check -->
        <div class="no-layers-message">No default layers available.</div>
      }

      <!-- ================================================================= -->
      <!-- NEW: Hardcoded entry for the static GND Layer -->
      <!-- ================================================================= -->
      <!-- ================================================================= -->
      <!-- End of new entry -->
      <!-- ================================================================= -->
    </div>
  </mat-expansion-panel>

  <!-- Organization Layers -->
  <mat-expansion-panel class="expansion-panel" #panel_2 hideToggle="true" expanded="false">
    <mat-expansion-panel-header class="exp-header">
      <mat-panel-title class="exp-title">Organization Layers</mat-panel-title>

      @if (!panel_2.expanded) {
        <mat-icon>expand_more</mat-icon>
      }
      @if (panel_2.expanded) {
        <mat-icon>expand_less</mat-icon>
      }
    </mat-expansion-panel-header>
    <div class="expcontent">
      @for (dataItem of LayerList | sortArray: 'layer_name'; track dataItem.layer_id) {
        @if (dataItem.group_name?.includes('org')) {
          <div class="tb_row">
            <div class="name_checkbox_2 d-flex items-center">
              <mat-icon
                class="visibility-icon small-icon h-auto"
                [ngStyle]="{
                  color: selectedLayerIds.includes(dataItem.layer_id) ? 'black' : '#D3D3D3',
                }"
                (click)="toggleLayerView(dataItem.layer_id)"
              >
                visibility
              </mat-icon>
              <input
                class="layer-checkbox"
                type="checkbox"
                id="checkbox-org-{{ dataItem.layer_id }}"
                [checked]="currentSelectedLayerIdForDrawing === dataItem.layer_id"
                (change)="onCheckboxChange(dataItem.layer_id)"
                title="Set as Current Drawing Layer"
              />
              <label [for]="'checkbox-org-' + dataItem.layer_id" style="display: none">
                Set as Current Drawing Layer for {{ dataItem.layer_name }}
              </label>
              <div class="color-name">
                <div
                  class="color-display"
                  [style.backgroundColor]="getColorHex(dataItem.colour)"
                ></div>
                <div
                  class="layer-name"
                  matTooltip="{{ dataItem.layer_name }}"
                  matTooltipPosition="above"
                >
                  {{ dataItem.layer_name }}
                </div>
              </div>
            </div>
          </div>
        }
      } @empty {
        <div class="no-layers-message">No organization layers available.</div>
      }
    </div>
  </mat-expansion-panel>

  <!-- ---------------------------------SHARED LAYERS (for user only)------------------------------------------- -->
  @if (user_type === 'user') {
    <mat-expansion-panel class="expansion-panel" #panel_4 hideToggle="true" expanded="false">
      <mat-expansion-panel-header
        class="exp-header"
        [ngClass]="{ 'expanded-header': panel_4.expanded }"
      >
        <mat-panel-title class="exp-title" [ngClass]="{ 'expanded-tittle': panel_4.expanded }">
          Shared Layers</mat-panel-title
        >
        @if (!panel_4.expanded) {
          <mat-icon>expand_more</mat-icon>
        }
        @if (panel_4.expanded) {
          <mat-icon>expand_less</mat-icon>
        }
      </mat-expansion-panel-header>
      <div class="expcontent">
        @for (dataItem of LayerList | sortArray: 'layer_name'; track dataItem.layer_id) {
          @if (dataItem.group_name?.includes(user_id)) {
            <div class="tb_row d-flex align-items-start">
              @if (dataItem.shared_users.length > 0) {
                <div
                  style="padding-right: 10px; display: flex; justify-content: flex-start"
                  #iconRef1
                  (mouseenter)="
                    dataItem.shared_users.length
                      ? showTooltip(iconRef1, dataItem.shared_users)
                      : null
                  "
                  (mouseleave)="hideTooltip()"
                >
                  <mat-icon
                    style="color: var(--color-success); font-size: 18px"
                    matBadgeSize="medium"
                    aria-hidden="false"
                  >
                    people
                  </mat-icon>
                </div>
              }
              @if (dataItem.shared_users.length <= 0) {
                <div style="padding-right: 10px">
                  &nbsp;
                  <!-- Placeholder for spacing -->
                </div>
              }
              <div class="name_checkbox_2 d-flex items-center flex-grow-1">
                <mat-icon
                  class="visibility-icon small-icon h-auto"
                  [ngStyle]="{
                    color: selectedLayerIds.includes(dataItem.layer_id) ? 'black' : '#D3D3D3',
                  }"
                  (click)="toggleLayerView(dataItem.layer_id)"
                >
                  visibility
                </mat-icon>
                <input
                  type="checkbox"
                  id="myCheckbox-{{ dataItem.layer_id }}"
                  [checked]="currentSelectedLayerIdForDrawing === dataItem.layer_id"
                  (change)="onCheckboxChange(dataItem.layer_id)"
                  title="Set as Current Drawing Layer for {{ dataItem.layer_name }}"
                />
                <label [for]="'myCheckbox-' + dataItem.layer_id" style="display: none">
                  Set as Current Drawing Layer for {{ dataItem.layer_name }}
                </label>
                <div class="color-name">
                  <div
                    class="color-display"
                    [style.backgroundColor]="getColorHex(dataItem.colour)"
                  ></div>
                  <div
                    class="layer-name"
                    matTooltip="{{ dataItem.layer_name }}"
                    matTooltipPosition="above"
                  >
                    {{ dataItem.layer_name }}
                  </div>
                </div>
              </div>
            </div>
          }
        }
      </div>
    </mat-expansion-panel>
  }

  <!-- ---------------------------------MY LAYERS (for user only)------------------------------------------- -->
  @if (user_type === 'user') {
    <mat-expansion-panel class="expansion-panel" #panel_3 hideToggle="true" expanded="false">
      <mat-expansion-panel-header
        class="exp-header"
        [ngClass]="{ 'expanded-header': panel_3.expanded }"
      >
        <mat-panel-title class="exp-title" [ngClass]="{ 'expanded-tittle': panel_3.expanded }">
          My Layers</mat-panel-title
        >
        @if (!panel_3.expanded) {
          <mat-icon>expand_more</mat-icon>
        }
        @if (panel_3.expanded) {
          <mat-icon>expand_less</mat-icon>
        }
      </mat-expansion-panel-header>
      <div class="expcontent">
        @for (dataItem of LayerList | sortArray: 'layer_name'; track dataItem.layer_id) {
          @if (dataItem.user_id === user_id_number) {
            <div class="tb_row_2 d-flex align-items-start">
              @if (
                (user_type === 'user'
                  ? filterSharedUsersWithoutOwner(dataItem.shared_users)
                  : dataItem.shared_users
                ).length > 0
              ) {
                <div
                  style="
                    padding-right: 10px;
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                  "
                  #iconRef2
                  (mouseenter)="
                    dataItem.shared_users.length
                      ? showTooltip(
                          iconRef2,
                          user_type === 'user'
                            ? filterSharedUsersWithoutOwner(dataItem.shared_users)
                            : dataItem.shared_users
                        )
                      : null
                  "
                  (mouseleave)="hideTooltip()"
                >
                  <mat-icon
                    style="
                      color: var(--color-success);
                      font-size: 18px;
                      margin-top: 4px;
                      height: 18px;
                    "
                    matBadge="{{
                      user_type === 'user'
                        ? dataItem.shared_users.length - 1
                        : dataItem.shared_users.length
                    }}"
                    matBadgeSize="medium"
                    aria-hidden="false"
                  >
                    people
                  </mat-icon>
                </div>
              }
              @if (
                (user_type === 'user'
                  ? filterSharedUsersWithoutOwner(dataItem.shared_users)
                  : dataItem.shared_users
                ).length <= 0
              ) {
                <div style="width: 34px"></div>
              }
              <div class="name_checkbox_2 d-flex align-items-center flex-grow-1">
                <mat-icon
                  class="visibility-icon small-icon"
                  [ngStyle]="{
                    color: selectedLayerIds.includes(dataItem.layer_id) ? 'black' : '#D3D3D3',
                    height: '16px',
                  }"
                  (click)="toggleLayerView(dataItem.layer_id)"
                >
                  visibility
                </mat-icon>
                <input
                  type="checkbox"
                  id="myCheckbox-{{ dataItem.layer_id }}"
                  [checked]="currentSelectedLayerIdForDrawing === dataItem.layer_id"
                  (change)="onCheckboxChange(dataItem.layer_id)"
                  title="Set as Current Drawing Layer for {{ dataItem.layer_name }}"
                />
                <label [for]="'myCheckbox-' + dataItem.layer_id" style="display: none">
                  Set as Current Drawing Layer for {{ dataItem.layer_name }}
                </label>
                <div class="color-name">
                  <div
                    class="color-display"
                    [style.backgroundColor]="getColorHex(dataItem.colour)"
                  ></div>
                  <div
                    class="layer-name"
                    matTooltip="{{ dataItem.layer_name }}"
                    matTooltipPosition="above"
                  >
                    {{ dataItem.layer_name }}
                  </div>
                </div>
              </div>
              <div class="edit-delete d-flex align-items-center">
                @if (canEditLayer(94)) {
                  <button type="button" (click)="onEditLayer(dataItem)">
                    <mat-icon
                      class="custom-icon-size"
                      style="color: #475c6e; font-size: 16px; height: 16px"
                      >edit</mat-icon
                    >
                  </button>
                }
                @if (dataItem.shared_users.length > 0 && canDeleteLayer(94)) {
                  <button type="button" (click)="displaySnack()">
                    <mat-icon
                      class="custom-icon-size"
                      style="color: #475c6e; font-size: 16px; height: 16px"
                      >delete</mat-icon
                    >
                  </button>
                }
                @if (dataItem.shared_users.length <= 0 && canDeleteLayer(94)) {
                  <button type="button" (click)="onDeleteLayer(dataItem)">
                    <mat-icon
                      class="custom-icon-size"
                      style="color: #475c6e; font-size: 16px; height: 16px"
                      >delete</mat-icon
                    >
                  </button>
                }
              </div>
            </div>
          }
        }
      </div>
    </mat-expansion-panel>
  }

  <!-- ---------------------------------USER DEFINED LAYERS (for admin only)------------------------------------------- -->
  @if (user_type === 'admin' || this.user_type === 'super_admin') {
    <mat-expansion-panel class="expansion-panel" #panel_5 hideToggle="true" expanded="false">
      <mat-expansion-panel-header
        class="exp-header"
        [ngClass]="{ 'expanded-header': panel_5.expanded }"
      >
        <mat-panel-title class="exp-title" [ngClass]="{ 'expanded-tittle': panel_5.expanded }">
          User-Created Layers
        </mat-panel-title>
        @if (!panel_5.expanded) {
          <mat-icon>expand_more</mat-icon>
        }
        @if (panel_5.expanded) {
          <mat-icon>expand_less</mat-icon>
        }
      </mat-expansion-panel-header>
      <div class="expcontent">
        @for (dataItem of LayerList | sortArray: 'layer_name'; track dataItem.layer_id) {
          @if (!dataItem.group_name?.includes('org') && !dataItem.group_name?.includes('default')) {
            <div class="tb_row_2 d-flex align-items-start">
              @if (dataItem.shared_users.length > 0) {
                <div
                  style="
                    padding-right: 10px;
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    position: relative;
                  "
                  #iconRef
                  (mouseenter)="
                    dataItem.shared_users.length
                      ? showTooltip(iconRef, dataItem.shared_users)
                      : null
                  "
                  (mouseleave)="hideTooltip()"
                >
                  <mat-icon
                    style="
                      color: var(--color-success);
                      font-size: 18px;
                      margin-top: 4px;
                      height: 18px;
                    "
                    [matBadge]="dataItem.shared_users.length - 1"
                    matBadgeSize="medium"
                    aria-hidden="false"
                    fontIcon="people"
                  ></mat-icon>
                </div>
              }
              <div class="name_checkbox_2 d-flex items-center flex-grow-1">
                <mat-icon
                  class="visibility-icon small-icon h-100"
                  [ngStyle]="{
                    color: selectedLayerIds.includes(dataItem.layer_id) ? 'black' : '#D3D3D3',
                  }"
                  (click)="toggleLayerView(dataItem.layer_id)"
                >
                  visibility
                </mat-icon>
                <input
                  type="checkbox"
                  id="myCheckbox"
                  type="checkbox"
                  [checked]="currentSelectedLayerIdForDrawing === dataItem.layer_id"
                  (change)="onCheckboxChange(dataItem.layer_id)"
                />
                <div class="color-name">
                  <div
                    class="color-display"
                    [style.backgroundColor]="getColorHex(dataItem.colour)"
                  ></div>
                  <div
                    class="layer-name"
                    matTooltip="{{ dataItem.layer_name }}"
                    matTooltipPosition="above"
                  >
                    {{ dataItem.layer_name }}
                  </div>
                </div>
              </div>
            </div>
          }
        }
      </div>
    </mat-expansion-panel>
  }
</mat-dialog-content>

<mat-dialog-actions align="end" class="footer">
  @if (canCreateLayer(94) && user_type === 'user') {
    <button mat-flat-button (click)="openAddLayerDialog()" class="action-btn">
      <mat-icon>add</mat-icon> Create New Layer
    </button>
  }
</mat-dialog-actions>
